
html {
    padding: 1.5rem;
    display: flex;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    font-size: 15px;
    color: #333;
    background-color: #eee;
    list-style-type: none;
    transition: 0.1s;
    max-width: 100%;
    justify-content: center;
    overflow: auto;
}

/* GENERAL INFO */
header {
    display: inline-flex;
    margin: 3rem auto;
    padding: 0 auto;
    flex-direction: row;
}

a {
    color: red;
}

a:active {
    color: darkred;
}

.info {
    margin-left: 1rem;
}

.header_info {
    margin: 0;
    line-height: 2.4rem;
    flex-wrap: nowrap;
}

/* PROJECTS */
main {
    margin-top: 1.5rem;
    width: 69%;
}

.projects_container {
    margin-bottom: 6rem;
}

.project {
    margin-left: 1.5rem;
    margin-bottom: 3rem;
}

article .proj_date {
    font-size: 12px;
    margin-top: 0;
    border-bottom: 1px solid #333;
    position: relative;
    cursor: pointer;
}

article .proj_date::after {
    content: '+';

    position: absolute;
    right: -5px;
}

article .proj_desc {
    padding-top: 15px;
    height: 0px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
}

/* JS STYLING LINK */

.project.active .proj_desc {
    height: 90px;
    transition: .3s;
}

.project.active .proj_date {
    transition: .3s;
}

.project.active .proj_date:after {
    content: '-';
    transition: .3s;
}

/* SKILLS */

.skills_list {
    padding: 0;
    margin-left: 1.5rem;

}

.skills_list img {
    margin-right: 1.2rem;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 390px) and (max-width: 720px) {

    html {
        max-width: 100%;
    }
    
    .header_info {
        margin: 0;
        line-height: 2.4rem;
        flex-wrap: nowrap;
    }

    #name {
        font-size: 25px;
    }

    main {
        margin-top: 1.5rem;
        width: 90%;
    }

    .project.active .proj_desc {
        height: 190px;
        transition: .3s;
    }

    .skills_list {
        padding: 0;
        margin-left: 1.5rem;
        width: 100%;
    }
}

@media (min-width: 505px) {

    .project.active .proj_desc {
        height: 150px;
        transition: .3s;
    }
    
}

/*320px — 480px: Mobile devices
